
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #110c35;
    display: flex;
    min-height: 100vh;
    align-items: stretch;
    font-family: 'Barlow', sans-serif;
}

header {
    flex-basis: 250px;
    position: sticky;
    top: 0;
    width: 250px;
    background-color: #110c35;
    padding: 40px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    flex-shrink: 0;
    color: white;
}

main {
    padding: 30px 30px 0 30px;
    min-width: 0;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
    background-color: #ebeef2;
    display: flex;
}

.header-block h1 {
    text-align: center;
    font-size: 32px;
    margin: 0;
}

.header-block h2 {
    text-transform: none;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0;
}

.hightligh-top::before {
    display: block;
    content: '';
    width: 90%;
    height: 4px;
    background-color: white;
    opacity: 0.5;
    margin: 2px auto;
}
.nav-block__menu {
    list-style-type: none;
    padding-left: 30px;
}
.nav-block {
    margin: 30px 0;
    font-weight: 400;
}
.nav-block__menu li {
    margin: 10px 0;
    font-size: 16px;
}
a {
    text-decoration: none;
    color:#110c35;
  }
a:hover {
    text-decoration: underline;
    color:#110c35;
  }

.nav-block__menu a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.nav-block__menu a:hover {
    text-decoration: underline;
}
.nav-block__title {
    font-size: 16px;
    font-weight: 400;
}
.nav-block__title--bold {
    font-weight: 600;
}
.text-green {
    position: relative;
    color: rgb(42, 202, 96);
}
.text-orange {
    position: relative;
    color: #ff8f57;
}
.text-green--highligh-top::before {
    background-color: rgb(42, 202, 96);
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    left: 0;
    top: -6px;
}
.map-view__content {
    display: flex;
/*    justify-content: space-between; */
}
.map-view__map {
    padding: 20px;
}
.map-view__subtitle {
    margin: 2px 0;
    font-weight: 500;
    font-size: 20px;
}
.map-view__title {
    letter-spacing: 1px;
    margin: 2px 0;
    font-weight: 500;
    font-size: 34px;
}
.map-view__footer {
    /* height: 200px */
}
.text-highligh--green {
    color: white;
    background-color: rgb(42, 202, 96);
    padding: 0 2px;
}
.text-highligh--orange {
    color: white;
    background-color:  #ff8f57;
    padding: 0 2px;
}
.filter-block__title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}
.filter-block__list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.map-view__filters-title {
    text-transform: none;
    font-weight: 400;
    font-size: 20px;
}
.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 12px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
  }
.custom-checkbox a {
    text-decoration: none;
    color:#110c35;
  }
.custom-checkbox a:hover {
    text-decoration: underline;
    color:#110c35;
  }

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-checkbox__checkmark {
    position: absolute;
    top: 2px;
    left: 3px;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    border: 2px solid #110c35;
    background-color: transparent
}


.custom-checkbox:hover input ~ .custom-checkbox__checkmark {
    background-color: #ccc;
}

.custom-checkbox__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked ~ .custom-checkbox__checkmark:after {
    display: block;
}
.nav-container {
  top:40px;
  position: sticky;
}
.custom-checkbox .custom-checkbox__checkmark:after {
    left: 3px;
    top: -3px;
    width: 5px;
    height: 10px;
    border: solid rgb(1, 1, 73);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.map-view__footer-title {
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.timeline {
    height: 4px;
    width: 100%;
    position: relative;
    background-color: rgb(1, 1, 73);
}
.timeline__marker {
    width: 20px;
    height: 20px;
    background-color: rgb(1, 1, 73);
    border-radius: 50%;
    right: 0;
    top: calc(50% - 10px);
    position: absolute;
}
.timline__date {
    position: absolute;
    right: 0;
    font-weight: 500;
    top: -40px;
    transform: translateX(25%);
    font-size: 18px;
}
.help-mark {
    width: 18px;
    height: 18px;
    cursor: pointer;
    display: inline-block;
    color: white;
    text-align: center;
    position: relative;
    top: -1px;
    margin-left: 20px;
    font-size: 14px;
    text-transform: lowercase;
    background-color: #a9aab9;
    border-radius: 50%;
}
.help-mark__popup {
    display: none;
    width: 200px;
    height: 50px;
    font-weight: 300;
    color: rgb(1, 1, 73);;
    top: -70px;
    background-color: white;
    box-shadow: 1px rgba(0,0,0,0.2);
    padding: 5px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    transform: translateX(calc(-50% + 10px));
}
.help-mark:hover .help-mark__popup {
    display: block;
}
.help-mark:hover .help-mark__popup::after {
    display: block;
    position: absolute;
    bottom: -5px;
    width: 20px;
    height: 20px;
    left: calc(50% - 11px);
    transform: rotate(45deg);
    content: '';
    background-color: white;
}
.map-view__header {
    display: flex;
    justify-content: space-between;
}
.map-view__scale {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.map-view__scale-text {
    color: #a9aab9;
    font-weight: 500;
    margin: 5px;
}
.map-view__scale-circle--big {
    color: #a9aab9;
    font-weight: 400;
    width: 40px;
    display: inline-block;
    height: 40px;
    position: relative;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    border: 1px solid #a9aab9;
}
.map-view__scale-circle--small {
    color: #a9aab9;
    font-weight: 400;
    width: 20px;
    display: block;
    height: 20px;
    position: absolute;
    bottom: -5px;
    font-size: 10px;
    left: calc(50% - 10px);
    position: relative;
    border-radius: 50%;
    border: 1px solid #a9aab9;
}
.map-view__scale-circle--small::after {
    display: block;
    content: '';
    position: absolute;
    bottom: -1px;
    height: 6px;
    width: 6px;
    border: 1px solid #a9aab9;
    border-radius: 50%;
    left: calc(50% - 3px);
}
.info-panels__group {
    display: flex;
    justify-content: space-between;
    width: 350px;
}
.info-panels__pane {
    width: 100px;
    padding: 5px;
    height: 180px;

    background-color: white;
}
.info-panels__main {
    text-align: center;
    font-size: 32px;
    margin: 0;
    margin-top: 5px;
    font-weight: 500;
}
.info-panels__subtitle {
    text-align: center;
}
.info-panels__subtitle span {
    font-weight: 600;
}
.--orange {
    color: #ff8f57;
}
.--yellow {
    color: #ffca38;
}
.--purple {
    color: #b00064;
}


      .cls-1 {
        fill: #ebeef2;
      }

      .cls-2, .cls-24, .cls-25, .cls-26, .cls-5, .cls-9 {
        fill: none;
      }

      .cls-2 {
        stroke: #110c35;
        stroke-width: 3px;
      }

      .cls-2, .cls-9 {
        stroke-miterlimit: 10;
      }

      .cls-12, .cls-14, .cls-16, .cls-22, .cls-23, .cls-3 {
        fill: #110c35;
      }

      .cls-27, .cls-29, .cls-30, .cls-31, .cls-4 {
        fill: #fff;
      }

      .cls-5 {
        stroke: #cbccd6;
      }

      .cls-24, .cls-25, .cls-26, .cls-5 {
        stroke-linejoin: round;
      }

      .cls-18, .cls-19, .cls-6 {
        fill: #ff8f57;
      }

      .cls-20, .cls-21, .cls-7 {
        fill: #b00064;
      }

      .cls-15, .cls-17, .cls-8 {
        fill: #ffca38;
      }

      .cls-9 {
        stroke: #7e7d93;
        stroke-width: 0.75px;
      }

      .cls-10 {
        font-size: 10px;
      }

      .cls-10, .cls-11 {
        fill: #7e7d93;
      }

      .cls-10, .cls-11, .cls-14, .cls-16, .cls-22, .cls-23, .cls-30, .cls-31 {
        font-family: Barlow-Regular, Barlow;
      }

      .cls-11, .cls-22 {
        font-size: 20px;
      }

      .cls-12, .cls-14, .cls-29, .cls-30 {
        font-size: 16px;
      }

      .cls-12, .cls-17, .cls-19, .cls-21, .cls-29 {
        font-family: Barlow-SemiBold, Barlow;
        font-weight: 600;
      }

      .cls-13 {
        fill: #a9aab9;
      }

      .cls-15, .cls-18, .cls-20 {
        font-size: 32px;
        font-family: Barlow-Medium, Barlow;
        font-weight: 500;
      }

      .cls-16 {
        font-size: 14px;
      }

      .cls-23 {
        font-size: 40px;
      }

      .cls-24 {
        stroke: #ffca38;
      }

      .cls-24, .cls-25, .cls-26 {
        stroke-linecap: round;
        stroke-width: 2px;
      }

      .cls-25 {
        stroke: #ff8f57;
      }

      .cls-26 {
        stroke: #b00064;
      }
      .cls-36 {
        stroke: #b00064;
      }

      .cls-27 {
        font-size: 12px;
        font-family: Barlow;
        font-weight: 400;
      }

      .cls-28 {
        fill: #ff9757;
      }

      .cls-31 {
        font-size: 18.35px;
      }

div.tooltipMap {   
    position: absolute;         
    text-align: center;         
    width: 150px;                    
    height: 90px;                   
    border: 0px;        
    pointer-events: none;           
}